body{
  background-color: #fcf7bb;
}


hr{
  border-style: dotted none none;
  border-width: 10px;
  border-color: grey;
  width: 60%;
}

h1{
  background-color: #f6d186;
  color: #639a67;
}

h3{
  color: #639a67;
}
